article {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  flex-flow: column;
  > img {
    width: 100%;
  }
  > * {
    margin: 6px 0;
  }
  > button{
      width: 32px;
      align-self: flex-end;
      background: transparent;
      border: none;
      color: #1e90ff;
  }
}
