header.Header {
  div.wrapper {
    display: flex;
    flex-flow: row-reverse;
    * {
      padding: 12px 24px;
      padding-right: 0;
      margin: 0;
    }
    a{
      color:dodgerblue;
      text-decoration: none;
    }
    button{
      margin:12px;
      margin-right: 0;
      padding: 6px;
      padding-right: 0;
      font-size: 18px;
      text-transform: uppercase;
      color: dodgerblue;
      background:transparent;
      border: none;
      border-radius: 6px;
    }
  }
}
