div.wrapper{
  display: flex;
  width: 380px;
  margin: 0 auto;
}
a{
  color: dodgerblue;
  text-decoration: none;
  font-weight: bolder;
  line-height: 24px;
}
span.material-icons{
  line-height: 24px;
}